/* Fuentes */
@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@400;700;800&family=Karla&display=swap');

:root {
    --white: #fff;
    --black: #000;
    --accent: #6653FF;
    --secondary: #FFB9B9;
}

/* Generales */
html,
body {
    font-size: 10px;
    font-family: "Karla", sans-serif;
    color: var(--black);
}

* {
    box-sizing: border-box !important;
}

h1,
h2,
h3,
h4,
button {
    font-family: "Barlow", sans-serif;
}

h1 {
    font-size: 12rem;
    font-weight: 800;
}

h2 {
    font-size: 8rem;
    font-weight: normal;
}

h3 {
    font-size: 3rem;
    font-weight: bold;
}

h4 {
    font-size: 2rem;
    font-weight: bold;
}

p,
button {
    font-size: 1.6rem;
}

a {
    color: var(--white);
    text-decoration: none;
}

section {
    padding: 10rem;
}

/* Acento */
.accent {
    color: var(--accent);
    margin-bottom: 1.6rem;
}

/* Noise */
.noise {
    height: 100%;
}

.noise::before {
    z-index: -1;
    content: "";
    display: block;
    background-image: url(../img/noise.png);
    opacity: .5;
    background-repeat: repeat;
    background-size: 257px auto;
    position: absolute;
    inset: 0;
}

/* Background */
.background::before {
    content: "";
    display: block;
    width: 197.33333vw;
    height: 197.3333vw;
    background: radial-gradient(49.11% 49.11% at 50% 50%, var(--accent) 7.63%, var(--secondary) 30.83%, var(--white) 100%);
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, -57%);
    z-index: -2;
}

/* HEADER */
header {
    height: 50px;
}

.logo {
    width: 71.34px;
    height: 20px;
    background-image: url(../img/logo.png);
    background-repeat: no-repeat;
}

/* PORTADA */
section#cover {
    height: calc(100vh - 50px);
    justify-content: space-evenly;
}

.cta {
    width: 240px;
    height: 50px;
    background-color: transparent;
    border: solid 2px var(--black);
    border-radius: 30px;
    font-weight: bold;
}

.cta:hover {
    background-color: var(--black);
    color: var(--white);
}

/* SECCIÓN 1 */
#section1,
.section-cta {
    height: 50vh;
}

.item1 {
    padding-right: 3rem;
}

.item2 {
    padding: 0 3rem;
}

.item3 {
    padding-left: 3rem;
}

/* SECCIÓN CTA */
.section-cta.first-cta {
    align-items: flex-start;
}

.section-cta.second-cta {
    align-items: flex-end;
}

.section-cta h3 {
    text-align: end;
}

.ellipse {
    width: 500px;
    height: auto;
    z-index: -2;
}

.up {
    top: -35%;
}

.down {
    bottom: -35%;
}

/* SECCIÓN 2 */
#section2 {
    height: 80vh;
    background-color: var(--secondary);
    justify-content: space-between;
    padding: 3rem 6rem;
}

.carousel-inner {
    padding: 3rem 6rem;
}

.carousel>button {
    width: auto;
}

.card,
.card-img,
.card-img-overlay {
    border-radius: 15px;
}

.card {
    border-style: none;
    background: transparent;
    overflow: hidden;
}

.card-img {
    width: 100%;
    height: 100%;
    transition: all .5s ease-in-out
}

.card:hover .card-img {
    transform:scale(1.12);
}

.card-img-overlay {
    width: 100%;
    height: 100%;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.12283) 0%, rgba(0, 0, 0, 0) 33.33%, rgba(0, 0, 0, 0.93) 100%);
}


/* SECCIÓN 3 */
#section3 {
    height: 70vh;
}

.ask1 {
    padding: 0 2.5rem 5rem 0;
}

.ask2 {
    padding: 0 0 5rem 2.5rem;
}

.ask3 {
    padding: 5rem 2.5rem 0 0;
}

.ask4 {
    padding: 5rem 0 0 2.5rem;
}

/* FOOTER */
footer {
    height: 40vh;
    padding: 4rem 10rem;
    background-color: var(--black);
    color: var(--white);
    row-gap: 12rem;
}

footer>div {
    width: 100%;
}

.rrss img {
    margin: 8px;
}

footer img {
    margin: 0 16px;
}

/* POPUP FORM */
.popup-container {
    inset: 0;
    margin: 0;
    width: 100vw;
    height: 100vh;
    z-index: 100;
    background-color: rgba(0, 0, 0, 0.66);
}

.popup {
    width: 45%;
    height: 60%;
    border-radius: 15px;
    background-color: var(--white);
    padding: 2rem;
    justify-content: flex-start;
    row-gap: 4rem;
}

.popup a {
    color: var(--black);
    font-size: 2rem;
}

.progress {
    width: 100%;
    height: 6px;
    background-color: gainsboro;
    border-radius: 5px;
}

.progress-bar {
    width: 0%;
    height: 100%;
    background-color: var(--accent);
    border-radius: 5px;
    transition: width 1s;
}

button[type="submit"] {
    width: 200px;
}

.form-label {
    padding: 0;
    margin-bottom: 0;
}

.form-control,
.form-label,
form p,
.btn-outline-dark {
    font-size: 1.4rem;
}

.form-control,
.btn-outline-dark {
    height: 35px;
    padding: 1rem;
    margin-top: 4px;
    border: 1px solid var(--black);
    border-radius: 15px;
}

.btn-outline-dark {
    width: 100%;
}

.btn-check:checked+.btn {
    background-color: var(--black);
    border-color: var(--black);
}

.feedback>.popup {
    row-gap: 4rem;
}

.feedback-body {
    row-gap: 1rem;
}

/* Media queries */
@media screen and (min-width: 501px) {
    .mobile-only {
        display: none;
    }
}

@media screen and (max-width: 500px) {
    .desktop-only {
        display: none;
    }

    /* Generales */
    html {
        font-size: 9px;
    }

    #cover,
    #section1,
    #section2,
    #section3,
    footer,
    .section-cta,
    .popup {
        padding: 3.2rem;
    }

    h1 {
        font-size: 5rem;
    }

    h2 {
        font-size: 2.5rem;
    }

    /* PORTADA */
    section#cover {
        justify-content: center;
        gap: 6rem;
    }

    .cta {
        width: 175px;
        height: 40px;
    }

    /* SECCIÓN 1 */
    #section1 {
        height: 100vh;
    }

    #section1>.row {
        height: 100%;
        padding: 3rem 0;
        justify-content: space-around;
    }

    .item,
    .item2,
    .item3 {
        padding: 0;
    }

    /* SECCIÓN CTA */
    .section-cta {
        height: 50vh;
        row-gap: 4rem;
    }

    .section-cta>div {
        flex-direction: column;
    }

    .section-cta h3 {
        text-align: center;
    }

    .section-cta.first-cta>div {
        padding-top: 3rem;
    }

    .section-cta.second-cta {
        align-items: center;
    }

    .down {
        top: -25%;
    }

    /* SECCIÓN 2 */
    #section2 {
        height: 70vh;
        justify-content: center;
        gap: 2rem;
    }

    #section2 h3,
    #section2>p {
        text-align: center;
    }

    .mobile-only.carousel {
        height: 100%;
    }

    .mobile-only.carousel>button {
        color: transparent;
    }

    .mobile-only>.carousel-inner {
        height: 100%;
        padding: 1rem 3.2rem;
    }

    /* SECCIÓN 3 */
    #section3 {
        height: 130vh;
    }

    #section3>.row {
        height: 100%;
        padding: 3rem 0;
        justify-content: space-around;
    }

    .ask1,
    .ask2,
    .ask3,
    .ask4 {
        padding: 0;
    }

    /* FOOTER */
    footer {
        row-gap: 4rem;
    }

    footer p {
        text-align: center;
    }

    footer>div {
        flex-direction: column;
        align-items: center;
        row-gap: 4rem;
    }

    /* POPUP FORM */
    .popup {
        width: 100%;
        height: 100%;
        border-radius: 0;
        row-gap: 6rem;
        justify-content: flex-start;
    }

    form {
        height: 100%;
        gap: 4rem;
    }

    form>.row {
        height: 100%;
    }

    .feedback .popup {
        row-gap: 8rem;
    }

    .feedback-body {
        row-gap: 2rem;
    }

    .feedback h3 {
        text-align: center;
    }
}